**/.env
**/.env.development
**/.env.production
**/*.log
**/node_modules
**/dist
**/downloads
**/screenshots
**/yarn-error.log
**/error.log

# Windows
**/Thumbs.db
**/ehthumbs.db
**/Desktop.ini
**/$RECYCLE.BIN/

# OSX
**/.DS_Store

